<%- include("./partials/header") %>
<div class="row">
    <div class="mt-3">
        <main class="form-signin my-3">
            <form action="/register" method="POST">
                <h1 class="text-center h3 mb-3 fw-normal">Please Register</h1>
                <div class="form-floating">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
                    <label for="username">Username</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                    <label for="password">Password</label>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" name="fullName" id="fullname" placeholder="Full Name">
                    <label for="Full Name">Full Name</label>
                </div>
                <div class="form-floating">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                    <label for="email">Email</label>
                </div>
                <div class="form-floating">
                   
                    <input class="form-control" id="number" type="tel" name="number" placeholder="Number" required > 
                    <label for="number">Mobile Contact</label>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" name="facebook" id="facebook" placeholder="facebook" >
                    <label for="facebook">Facebook URL</label>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" name="instagram" id="instagram" placeholder="instagram">
                    <label for="instagram">Instagram URL</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" name="adminCode" id="adminCode" placeholder="adminCode" >
                    <label for="adminCode">Admin Code</label>
                </div>
                <div class="form-floating">
                    
                </div>
                
                <input class="mt-3 w-100 btn btn-lg btn-primary" type="submit" class="btn" value="Sign Up" />
            </form>
            <div class="alert alert-info" style="display: none;"></div>
            <a href="/fabrics">Go Back</a>
        </main>
    </div>
</div class="alert alert-info" style="display: none;">
<%- include("./partials/footer") %>